<a href="https://colab.research.google.com/github/Burak9150/Python-soru-kutuphanesi/blob/main/Untitled39.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
Elemanları ardışık sayılardan oluşan karışık halde bir liste veriliyor. Listenin en küçük elemanı ile en büyük elemanı arasında yer alan, ancak listede gösterilmeyen eksik sayılardan çift olanları çıktı veren python kodu yazınız.
Beklenen Çıktı:
8
12
14
32
38
40

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
num.sort()
minimum = min(num)
maximum = max(num)
new_list = []
for i in range(minimum, maximum + 1):
    if i not in num and i % 2 == 0:
        new_list.append(i)
print(new_list)

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
print(list(filter(lambda i:i not in num and i % 2 == 0, range(min(num),max(num)))))

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
num_max=max(num)
num_min=min(num)
print(num_max)
print(num_min)
if num_min%2==0:
  tam_liste=list(range(num_min, num_max+1, 2))
else:
  tam_liste=list(range(num_min+1, num_max+1, 2))
print(tam_liste)
for i in num:
  if i in tam_liste:
    tam_liste.remove(i)
print(tam_liste)

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
liste=[]
for i in range(min(num),max(num)):
    if i not in num and i%2==0:
      liste.append(i)
print(liste)

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
for x in range(min(num), max(num)):
    print(x) if x % 2 == 0 and (x not in num) else None

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
for i in range(min(num), (max(num) +1)) :
    if (i not in num) and (i%2==0) :
        print(i)

In [ ]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
print([i for i in range(min(num),max(num)) if i%2==0 and i not in num])