<a href="https://colab.research.google.com/github/Burak9150/Python-soru-kutuphanesi/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group Anagrams
Given a list of strings, group anagrams together.
Example:
Input:
["eat", "tea", "tan", "ate", "nat", "bat"]
Output:
[
  ["ate","eat","tea"],
  ["nat","tan"],
  ["bat"]
]

In [1]:
kelime =["eat", "tea", "tan", "ate", "nat", "bat"]
liste={}

for i in kelime:
  x =str(sorted(i))
  if x in liste:
      liste[x].append(i)
  else:
      liste[x] = [i]
print(list(liste.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [2]:
farm = ["eat", "tea", "tan", "ate", "nat", "bat"]
setstring=[list(sorted(ptr)) for ptr in farm]
addstring=["".join(atr) for atr in setstring]
dicc={}
for hep in addstring: dicc[hep]=[]
[dicc["".join(sorted(her))].append(her) for her in farm if "".join(sorted(her)) in dicc]
print(dicc)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [3]:
words = ["eat", "tea", "tan", "ate", "nat", "bat"]
new = []
for item in words:
    a = list(item)
    a.sort()
    new.append("".join(a))
uniq_list = list(set(new))
output = []
for item in uniq_list:
    anagram = []
    for word,ind in zip(new,range(len(new))):
        if item == word:
            anagram.append(words[ind])
    output.append(anagram)
print(output)

[['tan', 'nat'], ['bat'], ['eat', 'tea', 'ate']]

In [4]:
anagrams = {}
words = ["eat", "tea", "tan", "ate", "nat", "bat"]
for word in words:
    sorted_word = "".join(sorted(word))
    if sorted_word in anagrams:
        anagrams[sorted_word].append(word)
    else:
        anagrams[sorted_word] = [word]
print(list(anagrams.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]