<a href="https://colab.research.google.com/github/Burak9150/Python-soru-kutuphanesi/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Aşağıdaki listeyi .sort() liste yöntemini kullanmadan sıralamak için bir Python kodu yazın. liste öğeleri = [999, 333, 2, 8982, 12, 45, 77, 99, 11] Beklenen çıktı: [2, 11, 12, 45, 77, 99, 333, 999, 8982]

In [ ]:
list = [999, 333, 2, 8982, 12, 45, 77, 99, 11]
new_list = []
i = 0
len_list = len(list)
while i< len_list:
  k = min(list)
  new_list.append(k)
  list.remove(k)
  i += 1
print(new_list)

In [ ]:
list_ = [999, 333, 2, 8982, 12, 45, 77, 99, 11]
new_list = []
while list_:
    min_element = list_[0]
    for i in list_:
        if i < min_element:
            min_element = i
    new_list.append(min_element)
    list_.remove(min_element)
print(new_list)

In [ ]:
elements = [999, 333, 2, 8982, 12, 45, 77, 99, 11] 
sorted1 = []
for i in range(1,len(elements)+1):
    x in elements
    x = min(elements)
    sorted1.append(x)
    elements.remove(x)
print(sorted1)

In [ ]:
liste = [999, 333, 2, 8982, 12, 45, 77, 99, 11]
liste2 = []
for i in range(len(liste)):
    minimum = min(liste)
    liste2.append(minimum)
    liste.remove(minimum)
print(liste2)

In [ ]:
my_list = [999, 333, 2, 8982, 12, 45, 77, 99, 11]
for i in range(0, len(my_list)):
    for x in range(0, len(my_list)-1):
        if my_list[x] > my_list[x+1]:
            my_list[x], my_list[x+1] = my_list[x+1],  my_list[x]
        else:
            continue
print(my_list)

In [ ]:
my_list = [999, 333, 2, 8982, 12, 45, 77, 99, 11]
for i in range(len(my_list)):
    for j in range(i+1, len(my_list)):
        if my_list[i] > my_list[j]:
            my_list[i], my_list[j] = my_list[j],  my_list[i]
print(my_list)

In [ ]:
elements_list = [999, 333, 2, 8982, 12, 45, 77, 99, 11]
new_list = []
i = 1
loop = len(elements_list)
while i <= loop:
    min1 = min(elements_list)
    new_list.append(min1)
    elements_list.remove(min1)
    i += 1
print(new_list)